In [1]:
import pandas as pd

brewery = pd.read_csv("Data/breweries_kaggle.csv")
beers = pd.read_csv("Data/beers_kaggle.csv")
breweries_full = pd.read_csv("Data/craft_beer_dataworld.csv")

In [2]:
breweries_full.columns = ['ID', "Address", 'Industry', 'City', 'Country', 'Hours', 'Keys', 'Latitude', 'Longitude','Menus', 'Brewery Name', 'Zip Code', 'State', 'Twitter', 'Website']
beers.columns = ['Number', 'ABV', 'IBU', 'ID', 'Beer Name', 'Beer Style', 'Brewery ID', 'Serving oz.']
brewery.columns = ['Number', 'Brewery Name', 'City', 'State']

In [24]:
breweries_full

,ID,Address,Industry,City,Country,Hours,Keys,Latitude,Longitude,Menus,Brewery Name,Zip Code,State,Twitter,Website
0,AVweN1T_ByjofQCxwSPL,Syr Airport,Brewery,Syracuse,US,NaN,us/ny/syracuse/syrairport/2098450797,NaN,NaN,NaN,Adirondack Pub,NaN,NY,NaN,NaN
1,AVwdkF9ZIN2L1WUfxDfw,1320 N Doctor Martin Luther King Dr,Office and Cafeteria Brewer's Hill,Milwaukee,US,NaN,us/wi/milwaukee/1320ndoctormartinlutherkingdr/...,NaN,NaN,NaN,The Waterfront Cafe,53212,WI,NaN,NaN
2,AVwdlPkf_7pvs4fz7TMr,608 4th St,Brewery Downtown Clovis,Clovis,US,"[{""day"":""Wed - Sat"",""hour"":""5:00 PM - 8:00 PM""}]",us/ca/clovis/6084thst/-932885010,NaN,NaN,NaN,559 Local Brewing,93612,CA,NaN,http://fresnobrewing.com
3,AVwcucY0kufWRAb5yWbU,1103 Mills St,breweries & brew pubs,Black Earth,US,NaN,us/wi/blackearth/1103millsst/-757413411,43.138995,-89.747904,NaN,Shack The,53515-9454,WI,NaN,NaN
4,AVweCkd5kufWRAb5_eaI,130 W Riverside Dr,Brewery and Gastropub Downtown Jeffersonville,Jeffersonville,US,"[{""day"":""Wed - Thu"",""hour"":""3:00 PM - 9:00 PM""...",us/utica/jeffersonville/130wriversidedr/787280564,NaN,NaN,NaN,Flat12 Bierworks,47130,Utica,flat12bierwerks,http://flat12.me/brewery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17818,AVwdtsEW_7pvs4fz8mDR,2436 Morrison Ln,"Wineries,Beverages,Brewers",Fairfield,US,NaN,us/ca/fairfield/2436morrisonln/-1128085751,38.266350,-122.114540,NaN,Bask Cellars,94534,CA,NaN,http://www.baskwines.com
17819,AVwdbm7h_7pvs4fz51CP,2711 W Girard Ave,"Restaurant,Pubs,Bar,Brewery,Bars & Pubs,Brewer...",Philadelphia,US,"[{""day"":""Monday - Thursday"",""hour"":""4:00 PM - ...",us/pa/philadelphia/2711wgirardave/1070407131,39.974457,-75.180840,"[{""currency"":""USD"",""dateSeen"":[""2017-07-16T06:...",Crime & Punishment Brewing Co,19130,PA,candpbrewingco,"http://candpbrewery.com,http://crimeandpunishm..."
17820,AVwdKtAi_7pvs4fz29Aw,312 Knickerbocker Ave.,"Restaurant,Breakfast & Brunch,Bakery,Bakeries,...",Brooklyn,US,"[{""day"":""Monday"",""hour"":""9:00 AM - 4:00 PM""},{...",us/ny/brooklyn/312knickerbockerave/-1702188086,40.701420,-73.923400,"[{""dateSeen"":[""2015-10-20T01:10:27Z"",""2016-03-...",Circo's Pastry Shop,11237,NY,circospastry,http://circospastryshop.com
17821,AV6a8ZmsIxWefVJwqvmS,330 S La Cienega Blvd,"Liquor Stores,Wine Stores,Breweries",Los Angeles,US,NaN,us/ca/losangeles/330slacienegablvd/93630837,NaN,NaN,NaN,Bevmo!,90048,CA,NaN,NaN
17822,AVzBGdwNLD2H7whiWMc8,481 8th Ave,"Restaurant,Seafood,Italian,Brewery,Bar,Steakhouse",New York,US,"[{""day"":""Monday - Sunday"",""hour"":""11:30 AM - 2...",us/ny/newyork/4818thave/1378867537,40.752705,-73.993480,NaN,Cooper's Tavern,10001,NY,NaN,http://www.cooperstavern.com/

In [27]:
beers

,Number,ABV,IBU,ID,Beer Name,Beer Style,Brewery ID,Serving oz.
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0
...,...,...,...,...,...,...,...,...
2405,2405,0.067,45.0,928,Belgorado,Belgian IPA,424,12.0
2406,2406,0.052,NaN,807,Rail Yard Ale,American Amber / Red Ale,424,12.0
2407,2407,0.055,NaN,620,B3K Black Lager,Schwarzbier,424,12.0
2408,2408,0.055,40.0,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0
2409,2409,0.052,NaN,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0

     Unnamed: 0                           name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]