In [21]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#import scipy.stats as st
import scipy.stats as sts
%matplotlib inline
from scipy.stats import linregress
from sklearn import datasets

In [22]:
# Store filepath in a variable
breweries_data = "Data/breweries_kaggle.csv"
craft_beer_data = "Data/craft_beer_dataworld.csv"

# Breweries clean up

In [23]:
# Read our breweries Data file with the pandas library
breweries_data = pd.read_csv(breweries_data, encoding="ISO-8859-1")
breweries_data

     Unnamed: 0                           name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

In [27]:
#Change the name of columns needed
breweries_data = breweries_data[["name", "city", "state"]]
breweries_data = breweries_data.rename(columns={"name":"Name", "city": "City", "state":"State"})
breweries_data

                              Name           City State
0               NorthGate Brewing     Minneapolis    MN
1        Against the Grain Brewery     Louisville    KY
2         Jack's Abby Craft Lagers     Framingham    MA
3        Mike Hess Brewing Company      San Diego    CA
4          Fort Point Beer Company  San Francisco    CA
..                             ...            ...   ...
553            Covington Brewhouse      Covington    LA
554                Dave's Brewfarm         Wilson    WI
555          Ukiah Brewing Company          Ukiah    CA
556        Butternuts Beer and Ale  Garrattsville    NY
557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 3 columns]

In [30]:
#Setting name as the index
breweries_data = breweries_data.set_index('Name')
breweries_data

                                        City State
Name
NorthGate Brewing                Minneapolis    MN
Against the Grain Brewery         Louisville    KY
Jack's Abby Craft Lagers          Framingham    MA
Mike Hess Brewing Company          San Diego    CA
Fort Point Beer Company        San Francisco    CA
...                                      ...   ...
Covington Brewhouse                Covington    LA
Dave's Brewfarm                       Wilson    WI
Ukiah Brewing Company                  Ukiah    CA
Butternuts Beer and Ale        Garrattsville    NY
Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 2 columns]

# Craft Beer cleanup

In [24]:
# Read our breweries Data file with the pandas library
craft_beer_data = pd.read_csv(craft_beer_data, encoding="ISO-8859-1")
craft_beer_data

,id,address,categories,city,country,hours,keys,latitude,longitude,menus,name,postalCode,province,twitter,websites
0,AVweN1T_ByjofQCxwSPL,Syr Airport,Brewery,Syracuse,US,NaN,us/ny/syracuse/syrairport/2098450797,NaN,NaN,NaN,Adirondack Pub,NaN,NY,NaN,NaN
1,AVwdkF9ZIN2L1WUfxDfw,1320 N Doctor Martin Luther King Dr,Office and Cafeteria Brewer's Hill,Milwaukee,US,NaN,us/wi/milwaukee/1320ndoctormartinlutherkingdr/...,NaN,NaN,NaN,The Waterfront Cafe,53212,WI,NaN,NaN
2,AVwdlPkf_7pvs4fz7TMr,608 4th St,Brewery Downtown Clovis,Clovis,US,"[{""day"":""Wed - Sat"",""hour"":""5:00 PM - 8:00 PM""}]",us/ca/clovis/6084thst/-932885010,NaN,NaN,NaN,559 Local Brewing,93612,CA,NaN,http://fresnobrewing.com
3,AVwcucY0kufWRAb5yWbU,1103 Mills St,breweries & brew pubs,Black Earth,US,NaN,us/wi/blackearth/1103millsst/-757413411,43.138995,-89.747904,NaN,Shack The,53515-9454,WI,NaN,NaN
4,AVweCkd5kufWRAb5_eaI,130 W Riverside Dr,Brewery and Gastropub Downtown Jeffersonville,Jeffersonville,US,"[{""day"":""Wed - Thu"",""hour"":""3:00 PM - 9:00 PM""...",us/utica/jeffersonville/130wriversidedr/787280564,NaN,NaN,NaN,Flat12 Bierworks,47130,Utica,flat12bierwerks,http://flat12.me/brewery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17818,AVwdtsEW_7pvs4fz8mDR,2436 Morrison Ln,"Wineries,Beverages,Brewers",Fairfield,US,NaN,us/ca/fairfield/2436morrisonln/-1128085751,38.266350,-122.114540,NaN,Bask Cellars,94534,CA,NaN,http://www.baskwines.com
17819,AVwdbm7h_7pvs4fz51CP,2711 W Girard Ave,"Restaurant,Pubs,Bar,Brewery,Bars & Pubs,Brewer...",Philadelphia,US,"[{""day"":""Monday - Thursday"",""hour"":""4:00 PM - ...",us/pa/philadelphia/2711wgirardave/1070407131,39.974457,-75.180840,"[{""currency"":""USD"",""dateSeen"":[""2017-07-16T06:...",Crime & Punishment Brewing Co,19130,PA,candpbrewingco,"http://candpbrewery.com,http://crimeandpunishm..."
17820,AVwdKtAi_7pvs4fz29Aw,312 Knickerbocker Ave.,"Restaurant,Breakfast & Brunch,Bakery,Bakeries,...",Brooklyn,US,"[{""day"":""Monday"",""hour"":""9:00 AM - 4:00 PM""},{...",us/ny/brooklyn/312knickerbockerave/-1702188086,40.701420,-73.923400,"[{""dateSeen"":[""2015-10-20T01:10:27Z"",""2016-03-...",Circo's Pastry Shop,11237,NY,circospastry,http://circospastryshop.com
17821,AV6a8ZmsIxWefVJwqvmS,330 S La Cienega Blvd,"Liquor Stores,Wine Stores,Breweries",Los Angeles,US,NaN,us/ca/losangeles/330slacienegablvd/93630837,NaN,NaN,NaN,Bevmo!,90048,CA,NaN,NaN
17822,AVzBGdwNLD2H7whiWMc8,481 8th Ave,"Restaurant,Seafood,Italian,Brewery,Bar,Steakhouse",New York,US,"[{""day"":""Monday - Sunday"",""hour"":""11:30 AM - 2...",us/ny/newyork/4818thave/1378867537,40.752705,-73.993480,NaN,Cooper's Tavern,10001,NY,NaN,http://www.cooperstavern.com/

In [31]:
#Change the name of columns needed
craft_beer_data = craft_beer_data[["name", "city", "province"]]
craft_beer_data = craft_beer_data.rename(columns={"name":"Name", "city": "City", "province":"State"})
craft_beer_data

                                Name            City  State
0                     Adirondack Pub        Syracuse     NY
1                The Waterfront Cafe       Milwaukee     WI
2                  559 Local Brewing          Clovis     CA
3                          Shack The     Black Earth     WI
4                   Flat12 Bierworks  Jeffersonville  Utica
...                              ...             ...    ...
17818                   Bask Cellars       Fairfield     CA
17819  Crime & Punishment Brewing Co    Philadelphia     PA
17820            Circo's Pastry Shop        Brooklyn     NY
17821                         Bevmo!     Los Angeles     CA
17822                Cooper's Tavern        New York     NY

[17823 rows x 3 columns]

In [32]:
#Setting name as the index
craft_beer_data = craft_beer_data.set_index('Name')
craft_beer_data

                                         City  State
Name
Adirondack Pub                       Syracuse     NY
The Waterfront Cafe                 Milwaukee     WI
559 Local Brewing                      Clovis     CA
Shack The                         Black Earth     WI
Flat12 Bierworks               Jeffersonville  Utica
...                                       ...    ...
Bask Cellars                        Fairfield     CA
Crime & Punishment Brewing Co    Philadelphia     PA
Circo's Pastry Shop                  Brooklyn     NY
Bevmo!                            Los Angeles     CA
Cooper's Tavern                      New York     NY

[17823 rows x 2 columns]

# Merging both dataframes

In [36]:
# Merge two dataframes using an inner join
merge_df = pd.merge(breweries_data, craft_beer_data, on="Name")
merge_df

                                 City_x State_x            City_y  State_y
Name
Fort Point Beer Company   San Francisco      CA     San Francisco       CA
Fort Point Beer Company   San Francisco      CA     San Francisco       CA
COAST Brewing Company        Charleston      SC  North Charleston       SC
Tapistry Brewing               Bridgman      MI          Bridgman       MI
Big Lake Brewing                Holland      MI           Holland       MI
...                                 ...     ...               ...      ...
Prescott Brewing Company       Prescott      AZ          Prescott       AZ
Mickey Finn's Brewery      Libertyville      IL      Libertyville       IL
Mickey Finn's Brewery      Libertyville      IL      Libertyville       IL
Mickey Finn's Brewery      Libertyville      IL      Libertyville  Mettawa
Covington Brewhouse           Covington      LA         Covington       LA

[472 rows x 4 columns]

In [35]:
# Rename columns so that they are differentiated
merge_df = merge_df.rename(columns={"City_x": "Bitcoin Open", "High_x": "Bitcoin High", "Low_x": "Bitcoin Low",
                                      "Close_x": "Bitcoin Close", "Volume_x": "Bitcoin Volume", "Market Cap_x": "Bitcoin Market Cap"})

crypto_df = crypto_df.rename(columns={"Open_y": "Dash Open", "High_y": "Dash High", "Low_y": "Dash Low",
                                      "Close_y": "Dash Close", "Volume_y": "Dash Volume", "Market Cap_y": "Dash Market Cap"})

crypto_df.head()

KeyError: "None of ['Name'] are in the columns"